workflows/deadline-early-warning.json
{
  "name": "Todoist Deadline Early Warning",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 10,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 10 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "task",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "filter": "all"
        }
      },
      "id": "todoist-get-tasks",
      "name": "Get All Tasks",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2,
      "position": [220, 0],
      "credentials": {
        "todoistApi": {
          "id": "9phgu8r8c5dNtDZC",
          "name": "Todoist API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const now = new Date();\nconst todayStart = new Date(now.getFullYear(), now.getMonth(), now.getDate());\nconst tasks = $input.all().map(item => item.json);\n\nconst missed = [];\nconst deadlineToday = [];\nconst urgent = [];   // 1 day\nconst within3 = [];  // 2-3 days\nconst thisWeek = []; // 4-7 days\n\nfor (const task of tasks) {\n  if (!task.deadline || !task.deadline.date) continue;\n\n  const dlDate = new Date(task.deadline.date + 'T00:00:00');\n  const diffMs = dlDate.getTime() - todayStart.getTime();\n  const daysLeft = Math.round(diffMs / (1000 * 60 * 60 * 24));\n\n  const entry = {\n    content: task.content,\n    deadlineDate: task.deadline.date,\n    daysLeft: daysLeft\n  };\n\n  if (daysLeft < 0) {\n    entry.daysMissed = Math.abs(daysLeft);\n    missed.push(entry);\n  } else if (daysLeft === 0) {\n    deadlineToday.push(entry);\n  } else if (daysLeft === 1) {\n    urgent.push(entry);\n  } else if (daysLeft <= 3) {\n    within3.push(entry);\n  } else if (daysLeft <= 7) {\n    thisWeek.push(entry);\n  }\n}\n\nmissed.sort((a, b) => b.daysMissed - a.daysMissed);\ndeadlineToday.sort((a, b) => a.content.localeCompare(b.content));\nurgent.sort((a, b) => a.content.localeCompare(b.content));\nwithin3.sort((a, b) => a.daysLeft - b.daysLeft);\nthisWeek.sort((a, b) => a.daysLeft - b.daysLeft);\n\nconst totalCount = missed.length + deadlineToday.length + urgent.length + within3.length + thisWeek.length;\n\nif (totalCount === 0) {\n  return [{ json: { hasDeadlines: false, totalCount: 0 } }];\n}\n\n// Build HTML email\nlet html = '<div style=\"font-family:-apple-system,BlinkMacSystemFont,sans-serif;max-width:600px;margin:0 auto;color:#1a1a1a;\">';\nhtml += '<div style=\"background:#1a1a1a;color:white;padding:20px;border-radius:8px 8px 0 0;\">';\nhtml += '<h1 style=\"margin:0;font-size:20px;\">\\u23f0 Deadline Early Warning</h1>';\nhtml += '<p style=\"margin:5px 0 0;opacity:0.8;font-size:14px;\">' + totalCount + ' deadline(s) within 7 days</p>';\nhtml += '</div>';\nhtml += '<div style=\"padding:20px;background:#f9f9f9;border-radius:0 0 8px 8px;\">';\n\n// MISSED DEADLINES\nif (missed.length > 0 || deadlineToday.length > 0) {\n  html += '<h2 style=\"color:#dc3545;font-size:16px;margin:0 0 12px;text-transform:uppercase;letter-spacing:1px;\">\\u26a0 DEADLINE TODAY / MISSED</h2>';\n  html += '<table style=\"width:100%;border-collapse:collapse;margin-bottom:20px;\">';\n  for (const t of missed) {\n    html += '<tr style=\"border-bottom:1px solid #e9ecef;\">';\n    html += '<td style=\"padding:8px 4px;\"><span style=\"background:#dc3545;color:white;padding:2px 8px;border-radius:3px;font-size:12px;font-weight:bold;\">MISSED</span></td>';\n    html += '<td style=\"padding:8px 4px;\"><strong>' + t.content + '</strong></td>';\n    html += '<td style=\"padding:8px 4px;text-align:right;color:#dc3545;font-weight:bold;\">MISSED by ' + t.daysMissed + ' day(s)</td>';\n    html += '</tr>';\n  }\n  for (const t of deadlineToday) {\n    html += '<tr style=\"border-bottom:1px solid #e9ecef;\">';\n    html += '<td style=\"padding:8px 4px;\"><span style=\"background:#fd7e14;color:white;padding:2px 8px;border-radius:3px;font-size:12px;font-weight:bold;\">TODAY</span></td>';\n    html += '<td style=\"padding:8px 4px;\"><strong>' + t.content + '</strong></td>';\n    html += '<td style=\"padding:8px 4px;text-align:right;color:#fd7e14;font-weight:bold;\">Deadline is TODAY</td>';\n    html += '</tr>';\n  }\n  html += '</table>';\n}\n\n// URGENT (1 day)\nif (urgent.length > 0) {\n  html += '<h2 style=\"color:#fd7e14;font-size:16px;margin:0 0 12px;text-transform:uppercase;letter-spacing:1px;\">\\u26a1 URGENT \\u2014 1 DAY LEFT</h2>';\n  html += '<table style=\"width:100%;border-collapse:collapse;margin-bottom:20px;\">';\n  for (const t of urgent) {\n    html += '<tr style=\"border-bottom:1px solid #e9ecef;\">';\n    html += '<td style=\"padding:8px 4px;\"><strong>' + t.content + '</strong></td>';\n    html += '<td style=\"padding:8px 4px;text-align:right;color:#fd7e14;\">deadline ' + t.deadlineDate + ' (1 day left)</td>';\n    html += '</tr>';\n  }\n  html += '</table>';\n}\n\n// WITHIN 3 DAYS\nif (within3.length > 0) {\n  html += '<h2 style=\"color:#ffc107;font-size:16px;margin:0 0 12px;text-transform:uppercase;letter-spacing:1px;\">WITHIN 3 DAYS</h2>';\n  html += '<table style=\"width:100%;border-collapse:collapse;margin-bottom:20px;\">';\n  for (const t of within3) {\n    html += '<tr style=\"border-bottom:1px solid #e9ecef;\">';\n    html += '<td style=\"padding:8px 4px;\">' + t.content + '</td>';\n    html += '<td style=\"padding:8px 4px;text-align:right;color:#856404;\">deadline ' + t.deadlineDate + ' (' + t.daysLeft + ' days left)</td>';\n    html += '</tr>';\n  }\n  html += '</table>';\n}\n\n// THIS WEEK (4-7 days)\nif (thisWeek.length > 0) {\n  html += '<h2 style=\"color:#6f42c1;font-size:16px;margin:0 0 12px;text-transform:uppercase;letter-spacing:1px;\">THIS WEEK</h2>';\n  html += '<table style=\"width:100%;border-collapse:collapse;margin-bottom:20px;\">';\n  for (const t of thisWeek) {\n    html += '<tr style=\"border-bottom:1px solid #e9ecef;\">';\n    html += '<td style=\"padding:8px 4px;\">' + t.content + '</td>';\n    html += '<td style=\"padding:8px 4px;text-align:right;color:#6f42c1;\">deadline ' + t.deadlineDate + ' (' + t.daysLeft + ' days left)</td>';\n    html += '</tr>';\n  }\n  html += '</table>';\n}\n\nhtml += '</div></div>';\n\nconst subject = '[Deadline Alert] ' + totalCount + ' deadline(s) approaching';\n\nreturn [{ json: { hasDeadlines: true, totalCount: totalCount, subject: subject, html: html, missedCount: missed.length, todayCount: deadlineToday.length, urgentCount: urgent.length, within3Count: within3.length, thisWeekCount: thisWeek.length } }];"
      },
      "id": "code-deadlines",
      "name": "Process Deadlines",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-has-deadlines",
              "leftValue": "={{ $json.hasDeadlines }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "onError": "continueErrorOutput"
      },
      "id": "if-has-deadlines",
      "name": "Any Deadlines?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [660, 0]
    },
    {
      "parameters": {
        "sendTo": "agenttree.ai@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "gmail-send",
      "name": "Send Deadline Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [880, -100],
      "credentials": {
        "gmailOAuth2": {
          "id": "tAz2Z1W3R4tplbjc",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "No Deadlines",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 100]
    }
  ],
  "connections": {
    "Daily 10 AM": {
      "main": [
        [
          {
            "node": "Get All Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Tasks": {
      "main": [
        [
          {
            "node": "Process Deadlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Deadlines": {
      "main": [
        [
          {
            "node": "Any Deadlines?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Deadlines?": {
      "main": [
        [
          {
            "node": "Send Deadline Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Deadlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}