workflows/grocery-compiler.json
{
  "name": "Todoist Grocery Run Compiler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "grocery-run",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "webhookId": "grocery-run-webhook-001"
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "projectId": "6P4H33XvJ37FrfCH"
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Get Grocery Tasks",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2,
      "position": [470, 300],
      "credentials": {
        "todoistApi": {
          "id": "9phgu8r8c5dNtDZC",
          "name": "Todoist API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Group grocery tasks by section (store)\nconst sectionMap = {\n  '68rmW3xf7G3qppcq': 'Vons',\n  '68rpFq5F3Ph6cw8q': 'Amazon',\n  '68vQM5WwjqhCJpmH': 'Costco',\n  '68rpVFvmHVGMg9vq': 'Target'\n};\n\nconst stores = {\n  'Vons': [],\n  'Amazon': [],\n  'Costco': [],\n  'Target': [],\n  'Other': []\n};\n\nconst items = $input.all();\nlet totalItems = 0;\n\nfor (const item of items) {\n  const sectionId = item.json.sectionId || item.json.section_id || '';\n  const content = item.json.content || '';\n  const storeName = sectionMap[sectionId] || 'Other';\n  stores[storeName].push(content);\n  totalItems++;\n}\n\n// Build HTML shopping list\nconst today = new Date();\nconst dateStr = today.toLocaleDateString('en-US', { month: 'long', day: 'numeric' });\n\nlet html = `<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;\">`;\nhtml += `<h1 style=\"color:#1a1a1a;border-bottom:2px solid #e5e5e5;padding-bottom:8px;\">Shopping List — ${dateStr}</h1>`;\n\nconst storeColors = {\n  'Vons': '#DC2626',\n  'Costco': '#2563EB',\n  'Amazon': '#F59E0B',\n  'Target': '#DC2626',\n  'Other': '#6B7280'\n};\n\nfor (const [store, taskList] of Object.entries(stores)) {\n  if (taskList.length === 0) continue;\n  const color = storeColors[store] || '#6B7280';\n  html += `<h2 style=\"color:${color};margin-top:20px;margin-bottom:8px;\">${store.toUpperCase()} (${taskList.length} item${taskList.length !== 1 ? 's' : ''})</h2>`;\n  html += `<ul style=\"list-style:none;padding-left:8px;\">`;\n  for (const task of taskList) {\n    html += `<li style=\"padding:4px 0;font-size:15px;\">&#9723; ${task}</li>`;\n  }\n  html += `</ul>`;\n}\n\nhtml += `<hr style=\"margin-top:24px;border-color:#e5e5e5;\"><p style=\"color:#6B7280;font-size:14px;\"><strong>Total items: ${totalItems}</strong></p>`;\nhtml += `</div>`;\n\nreturn [{\n  json: {\n    subject: `Shopping List — ${dateStr}`,\n    htmlBody: html,\n    totalItems\n  }\n}];"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000003",
      "name": "Group by Store",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "agenttree.ai@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.htmlBody }}"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000004",
      "name": "Send Shopping List",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [930, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "tAz2Z1W3R4tplbjc",
          "name": "Gmail"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Grocery Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Grocery Tasks": {
      "main": [
        [
          {
            "node": "Group by Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group by Store": {
      "main": [
        [
          {
            "node": "Send Shopping List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}