workflows/stale-task-detector.json
{
  "name": "Todoist Stale Task Detector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [1],
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "sd-trigger",
      "name": "Monday 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 300]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "filter": "no date"
        }
      },
      "id": "sd-todoist",
      "name": "Get Undated Tasks",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2,
      "position": [260, 300],
      "credentials": {
        "todoistApi": {
          "id": "9phgu8r8c5dNtDZC",
          "name": "Todoist API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Excluded project IDs\nconst excludedProjects = new Set([\n  '6RjXPcqqq5p9cW6P',  // Prepping List\n  '6XHpVGMXP2RVGHqr',  // MOVIES\n  '6R4vjRGq8xHXR26h'   // Bucketlist\n]);\n\nconst items = $input.all();\n\n// Filter out excluded projects\nconst activeTasks = items.filter(item => {\n  const projectId = item.json.projectId || item.json.project_id || '';\n  return !excludedProjects.has(String(projectId));\n});\n\n// Group by project\nconst byProject = {};\nfor (const item of activeTasks) {\n  const projectName = item.json.project?.name || item.json.projectName || 'Unknown Project';\n  if (!byProject[projectName]) byProject[projectName] = [];\n  byProject[projectName].push(item.json.content);\n}\n\nconst totalStale = activeTasks.length;\nconst projectNames = Object.keys(byProject).sort();\n\n// Build HTML email\nlet projectHtml = '';\nfor (const name of projectNames) {\n  const tasks = byProject[name];\n  const taskList = tasks.map(t => `<li style=\"padding:2px 0\">${t}</li>`).join('');\n  projectHtml += `\n    <h3 style=\"color:#333;margin-bottom:4px\">PROJECT: ${name} (${tasks.length} tasks)</h3>\n    <ul style=\"margin-top:4px\">${taskList}</ul>`;\n}\n\nif (totalStale === 0) {\n  projectHtml = '<p style=\"color:#4caf50;font-weight:bold\">No stale undated tasks found! Everything is dated or in reference projects.</p>';\n}\n\nconst subject = `[Stale Tasks] ${totalStale} undated tasks need attention`;\n\nconst html = `\n<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\">\n  <h2 style=\"color:#333;border-bottom:2px solid #f59e0b;padding-bottom:8px\">Stale Task Report</h2>\n  ${projectHtml}\n  <hr style=\"margin-top:20px;border:1px solid #eee\">\n  <p style=\"font-weight:bold\">Total undated tasks in active projects: ${totalStale}</p>\n  <p style=\"color:#666\">Action: Add dates, move to reference projects, or delete</p>\n  <p style=\"color:#999;font-size:12px;margin-top:20px\">Generated by n8n Stale Task Detector workflow</p>\n</div>`;\n\nreturn [{ json: { subject, html, totalStale, hasStale: totalStale > 0 } }];"
      },
      "id": "sd-code",
      "name": "Filter & Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "version": 2,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "stale-check",
              "leftValue": "={{ $json.hasStale }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {},
        "onError": "continueErrorOutput"
      },
      "id": "sd-if",
      "name": "Any Stale?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [780, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "agenttree.ai@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}"
      },
      "id": "sd-gmail",
      "name": "Send Stale Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1040, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "tAz2Z1W3R4tplbjc",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {},
      "id": "sd-noop",
      "name": "No Stale Tasks",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1040, 400]
    }
  ],
  "connections": {
    "Monday 8 AM": {
      "main": [
        [
          { "node": "Get Undated Tasks", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Undated Tasks": {
      "main": [
        [
          { "node": "Filter & Format", "type": "main", "index": 0 }
        ]
      ]
    },
    "Filter & Format": {
      "main": [
        [
          { "node": "Any Stale?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Any Stale?": {
      "main": [
        [
          { "node": "Send Stale Report", "type": "main", "index": 0 }
        ],
        [
          { "node": "No Stale Tasks", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
