workflows/todoist-to-google-calendar.json
{
  "name": "Todoist → Google Calendar Sync",
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "trigger",
      "name": "Todoist Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "todoist-gcal-sync",
        "responseMode": "onReceived",
        "responseCode": 200
      }
    },
    {
      "id": "filter",
      "name": "Filter Relevant Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const d = item.json.body && item.json.body.event_data;\n  if (!d) continue;\n  const hasLabel = Array.isArray(d.labels) && d.labels.includes('Google Calendar');\n  const hasDue = d.due && (d.due.date || d.due.datetime);\n  if (hasLabel && hasDue) out.push({ json: item.json });\n}\nreturn out;\n"
      }
    },
    {
      "id": "build",
      "name": "Build Event Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 200],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const TZ = 'America/Los_Angeles';\nconst task = $input.item.json.body.event_data;\nconst due = task.due || {};\nconst raw = due.datetime || due.date;\nif (!raw) throw new Error('Task has no due date: ' + task.id);\nconst hasTime = raw.includes('T');\nconst startStr = hasTime ? raw : `${raw}T09:00:00`;\nconst startDT = DateTime.fromISO(startStr, { zone: TZ });\nif (!startDT.isValid) throw new Error('Could not parse due: ' + raw + ' :: ' + startDT.invalidReason);\nlet durationMin = 60;\nif (task.duration && task.duration.amount) {\n  durationMin = task.duration.unit === 'day' ? task.duration.amount * 24 * 60 : task.duration.amount;\n}\nconst endDT = startDT.plus({ minutes: durationMin });\nconst desc = (task.description ? task.description + '\\n\\n' : '') + 'Synced from Todoist: ' + (task.url || `https://todoist.com/showTask?id=${task.id}`);\nconst newLabels = (task.labels || []).filter(l => l !== 'Google Calendar');\nreturn {\n  json: {\n    taskId: task.id,\n    summary: task.content,\n    description: desc,\n    start: startDT.toUTC().toISO(),\n    end: endDT.toUTC().toISO(),\n    timeZone: TZ,\n    newLabels\n  }\n};\n"
      }
    },
    {
      "id": "gcal",
      "name": "Create Google Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [960, 200],
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": { "__rl": true, "mode": "list", "value": "primary", "cachedResultName": "Primary Calendar" },
        "start": "={{ $json.start }}",
        "end": "={{ $json.end }}",
        "additionalFields": {
          "summary": "={{ $json.summary }}",
          "description": "={{ $json.description }}"
        }
      }
    },
    {
      "id": "strip",
      "name": "Remove Label From Task",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2,
      "position": [1200, 200],
      "credentials": {
        "todoistApi": { "id": "9phgu8r8c5dNtDZC", "name": "Todoist account" }
      },
      "parameters": {
        "resource": "task",
        "operation": "update",
        "taskId": "={{ $('Build Event Payload').item.json.taskId }}",
        "updateFields": {
          "labels": "={{ $('Build Event Payload').item.json.newLabels }}"
        }
      }
    }
  ],
  "connections": {
    "Todoist Webhook": { "main": [ [ { "node": "Filter Relevant Events", "type": "main", "index": 0 } ] ] },
    "Filter Relevant Events": { "main": [ [ { "node": "Build Event Payload", "type": "main", "index": 0 } ] ] },
    "Build Event Payload": { "main": [ [ { "node": "Create Google Calendar Event", "type": "main", "index": 0 } ] ] },
    "Create Google Calendar Event": { "main": [ [ { "node": "Remove Label From Task", "type": "main", "index": 0 } ] ] }
  }
}
