workflows/weekly-review.json
{
  "name": "Todoist Weekly Review",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 18 * * 0"
            }
          ]
        }
      },
      "id": "wr-trigger",
      "name": "Sunday 6 PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "filter": "overdue"
        }
      },
      "id": "wr-overdue",
      "name": "Get Overdue",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2,
      "position": [
        260,
        200
      ],
      "credentials": {
        "todoistApi": {
          "id": "9phgu8r8c5dNtDZC",
          "name": "Todoist API"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "filter": "next 7 days"
        }
      },
      "id": "wr-next-week",
      "name": "Get Next Week",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2,
      "position": [
        260,
        400
      ],
      "credentials": {
        "todoistApi": {
          "id": "9phgu8r8c5dNtDZC",
          "name": "Todoist API"
        }
      }
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "wr-merge",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Separate overdue vs next-week tasks\nconst overdueItems = $('Get Overdue').all();\nconst nextWeekItems = $('Get Next Week').all();\n\n// --- OVERDUE SECTION ---\nconst priorityMap = { 4: 'P1', 3: 'P2', 2: 'P3', 1: 'P4' };\nconst now = new Date();\n\nlet overdueHtml = '';\nconst overdueTasks = overdueItems.map(item => {\n  const t = item.json;\n  const dueDate = t.due ? new Date(t.due.date) : null;\n  const daysOverdue = dueDate ? Math.floor((now - dueDate) / 86400000) : 0;\n  return { content: t.content, priority: t.priority || 1, daysOverdue, dueDate };\n}).sort((a, b) => b.priority - a.priority || b.daysOverdue - a.daysOverdue);\n\nif (overdueTasks.length > 0) {\n  overdueHtml = overdueTasks.map(t =>\n    `<tr><td style=\"padding:4px 8px;color:${t.priority >= 4 ? '#d1453b' : '#666'}\">${priorityMap[t.priority] || 'P4'}</td><td style=\"padding:4px 8px\">${t.content}</td><td style=\"padding:4px 8px;color:#d1453b\">${t.daysOverdue}d overdue</td></tr>`\n  ).join('');\n} else {\n  overdueHtml = '<tr><td colspan=\"3\" style=\"padding:8px;color:#4caf50\">No overdue tasks!</td></tr>';\n}\n\n// --- NEXT WEEK SECTION ---\nconst dayNames = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];\nconst byDay = {};\n\nfor (const item of nextWeekItems) {\n  const t = item.json;\n  if (!t.due || !t.due.date) continue;\n  const d = new Date(t.due.date);\n  const dayLabel = dayNames[d.getDay()] + ' ' + (d.getMonth()+1) + '/' + d.getDate();\n  if (!byDay[dayLabel]) byDay[dayLabel] = [];\n  byDay[dayLabel].push(t.content);\n}\n\nlet nextWeekHtml = '';\nconst sortedDays = Object.keys(byDay);\nif (sortedDays.length > 0) {\n  nextWeekHtml = sortedDays.map(day =>\n    `<tr><td style=\"padding:4px 8px;font-weight:bold;vertical-align:top\">${day}</td><td style=\"padding:4px 8px\">${byDay[day].join('<br>')}</td></tr>`\n  ).join('');\n} else {\n  nextWeekHtml = '<tr><td colspan=\"2\" style=\"padding:8px;color:#999\">No tasks scheduled for next week</td></tr>';\n}\n\n// --- P1 HEALTH CHECK ---\nconst allTasks = [...overdueItems, ...nextWeekItems];\nconst p1Count = allTasks.filter(i => i.json.priority === 4).length;\nconst p1Recommendation = p1Count > 5 ? 'OVERLOADED — reduce P1 count' : p1Count > 3 ? 'HIGH — review priorities' : 'OK';\nconst p1Color = p1Count > 5 ? '#d1453b' : p1Count > 3 ? '#f59e0b' : '#4caf50';\n\n// --- BUILD EMAIL ---\nconst weekStart = new Date(now);\nweekStart.setDate(now.getDate() - now.getDay());\nconst weekEnd = new Date(weekStart);\nweekEnd.setDate(weekStart.getDate() + 6);\nconst fmt = d => `${d.toLocaleString('en-US', { month: 'short' })} ${d.getDate()}`;\n\nconst subject = `[Weekly Review] ${fmt(weekStart)}-${fmt(weekEnd)} — ${overdueTasks.length} overdue, ${nextWeekItems.length} next week`;\n\nconst html = `\n<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\">\n  <h2 style=\"color:#333;border-bottom:2px solid #e44332;padding-bottom:8px\">Weekly Review</h2>\n  \n  <h3 style=\"color:#d1453b\">STILL OVERDUE (${overdueTasks.length} tasks)</h3>\n  <table style=\"width:100%;border-collapse:collapse\">${overdueHtml}</table>\n  \n  <h3 style=\"color:#4073ff;margin-top:20px\">NEXT WEEK</h3>\n  <table style=\"width:100%;border-collapse:collapse\">${nextWeekHtml}</table>\n  \n  <h3 style=\"margin-top:20px\">P1 HEALTH CHECK</h3>\n  <table style=\"width:100%;border-collapse:collapse\">\n    <tr><td style=\"padding:4px 8px\">Active P1 count:</td><td style=\"padding:4px 8px;font-weight:bold\">${p1Count}</td></tr>\n    <tr><td style=\"padding:4px 8px\">Recommendation:</td><td style=\"padding:4px 8px;font-weight:bold;color:${p1Color}\">${p1Recommendation}</td></tr>\n  </table>\n  \n  <p style=\"color:#999;font-size:12px;margin-top:20px\">Generated by n8n Weekly Review workflow</p>\n</div>`;\n\nreturn [{ json: { subject, html } }];"
      },
      "id": "wr-format",
      "name": "Format Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "agenttree.ai@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}"
      },
      "id": "wr-gmail",
      "name": "Send Review Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "tAz2Z1W3R4tplbjc",
          "name": "Gmail"
        }
      }
    }
  ],
  "connections": {
    "Sunday 6 PM": {
      "main": [
        [
          {
            "node": "Get Overdue",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Next Week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Overdue": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Next Week": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Format Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Review": {
      "main": [
        [
          {
            "node": "Send Review Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "RdB2EbQZ71hjMUuE"
  }
}
